* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.section {
  border : 0.1px solid transparent; 
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #171a3b 30% , #162e61 85%) ;
}


.hdr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    height: 50px;
    background-color: #3c3f41; /* Dark gray color for the navbar */
    color: white;
    border-radius: 25px;
    position: fixed;
    top: 20px; /* Space from the top of the viewport */
    left: 0;
    right: 0;
    margin: 0 auto; /* Center the navbar */
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow for a floating effect */
    z-index: 10;
    transition: 0.3s;
}

.hdr .buttons {
    display: flex;
    align-items: center;
}

.hdr .buttons .btn {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    transition: 0.2s background-color ease-in-out;
}

.hdr .buttons .btn img {
    width: 25px;
    height: 25px;
}

.hdr .buttons .btn:hover {
    background-color: #575757;
    color: white;
}

.main {
    margin-top: 90px; /* Space for the floating navbar */
    transition: margin-left 0.3s;
}

.section {
    margin-top : 75px; 
    top : 75px; 
    height: calc(100vh + 60px); /* Adjust height to compensate for navbar */
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
}

.container {
    height: calc(100% - 150px);
    width : 96%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color : #e8e8e8;
    border-radius: 20px;
    margin: 75px 2%;
}

#sidebar {
    width: 275px;
    background-color: #333;
    color: white;
    padding: 15px;
    height: 100vh;
    position: fixed;
    top : 75px ;
    left: -300px; /* Hide the sidebar initially */
    transition: left 0.3s, border-radius 0.3s; /* Added transition for border-radius */
    z-index: 20; /* Ensure the sidebar is above the navbar */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow for a floating effect */
}

#sidebar.visible {
    left: 2%; /* Show the sidebar */
}

.sidebar h2 {
    text-align: left;
    margin-left: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

#menuButton {
    display: inline-block;
}

#menuButton.hidden {
    display: none;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 30; /* Ensure the close button is above everything */
}



